XML/WorkWithXml/books.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://library.by/catalog" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="catalog">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="book">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" name="isbn">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:pattern value="^{4}[ ]{0,1}[0-9]{1}[-]{1}[0-9]{3}[-]{1}[0-9]{5}[-]{1}[0-9]{0,1}$"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="author" type="xs:string" />
              <xs:element name="title" type="xs:string" />
              <xs:element name="genre">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:enumeration value="Computer"/>
                    <xs:enumeration value="Fantasy"/>
                    <xs:enumeration value="Romance"/>
                    <xs:enumeration value="Horror"/>
                    <xs:enumeration value="Science Fiction"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="publisher" type="xs:string" />
              <xs:element name="publish_date">
                <xs:simpleType>
                  <xs:restriction base="xs:date">
                    <xs:pattern value="\d{4}-\d{2}-\d{2}"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="description" type="xs:string" />
              <xs:element name="registration_date">
                <xs:simpleType>
                  <xs:restriction base="xs:date">
                    <xs:pattern value="\d{4}-\d{2}-\d{2}"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="id" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
    <xs:unique name="uniqueID">
      <xs:selector xpath=".//*" />
      <xs:field xpath="@id" />
    </xs:unique>
  </xs:element>
</xs:schema>